# ---- 基本的なPython関連 ----
# Pythonが生成するキャッシュや一時ファイル
__pycache__/
*.pyc
*.pyo
*.pyd

# pipでインストールされるパッケージ
venv/
env/
.venv/

# ログファイル
logs/
*.log
*.out

# src
src/__pycache__/
src/*.sh
*.pyc
*.pyo
*.pyd

# data
data/*
!data/sample_gt
!data/sample_input

# scores
scores/*
!scores/score_YYYYMMDD_hhmmss